.action {
    margin: 10px;
}


:root {
    --grid-cols: 1;
    --grid-rows: 1;
}
  
#container {
    display: grid;
    width: 33vw;
    grid-gap: 0;
    grid-template-rows: repeat(var(--grid-rows));
    grid-template-columns: repeat(var(--grid-cols));
}
  
.grid-item {
    padding: 1em;
    border: 1px solid #ddd;
    text-align: center;
    aspect-ratio: 1 / 1;
}