.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.action {
    margin: 10px;
}

button {
    cursor: pointer;
}


:root {
    --grid-cols: 1;
    --grid-rows: 1;
}
  
#container {
    display: grid;
    width: 33vw;
    grid-gap: 0em;
    grid-template-rows: repeat(var(--grid-rows), 2fr);
    grid-template-columns: repeat(var(--grid-cols), 2fr);
}
  
.grid-item {
    padding: 1em;
    border: 1px solid #ddd;
    text-align: center;
    aspect-ratio: 1 / 1;
}

/* Container that holds all the grids */
.grid-container {
    display: flex;
    flex-direction: column;
    gap: 20px; /* space between grids */
}